In [1]:
import pandas as pd
import pickle

c:\Users\sufedc5\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

In [2]:
import feather

生成stock2market

In [9]:
DerivativeIndicator = pd.read_feather('AShareEODDerivativeIndicator.feather')

In [10]:
DerivativeIndicator.columns  # ['s_info_windcode', 'trade_dt', 's_val_mv']

Index(['s_info_windcode', 'trade_dt', 's_dq_turn', 's_dq_freeturnover',
       'tot_shr_today', 'float_a_shr_today', 's_val_mv', 's_dq_mv', 's_val_pe',
       's_val_pe_ttm', 's_val_ps', 's_val_ps_ttm',
       'net_profit_parent_comp_ttm', 'net_profit_parent_comp_lyr',
       'oper_rev_ttm', 'oper_rev_lyr', 'net_assets_today',
       'net_cash_flows_oper_act_ttm', 'net_cash_flows_oper_act_lyr'],
      dtype='object')

In [12]:
market_value = DerivativeIndicator[['s_info_windcode', 'trade_dt', 's_val_mv']]
market_value

         s_info_windcode  trade_dt      s_val_mv
0              000001.SZ  20061229  2.815605e+06
1              000002.SZ  20061229  6.747124e+06
2              000004.SZ  20061229  3.443044e+04
3              000005.SZ  20061229  2.276691e+05
4              000006.SZ  20061229  3.400664e+05
...                  ...       ...           ...
19729813       873703.BJ  20240523  1.933574e+05
19729814       873706.BJ  20240523  9.961285e+04
19729815       873726.BJ  20240523  1.554543e+05
19729816       873806.BJ  20240523  2.604380e+05
19729817       873833.BJ  20240523  7.231208e+04

[19729818 rows x 3 columns]

In [16]:
stock2mkt07_24 = market_value.rename(columns={'s_info_windcode':'instrument', 'trade_dt':'datetime', 's_val_mv':'$market_value'}).set_index(['datetime','instrument'])

In [17]:
# import pickle
# 保存文件
# with open('stock2mkt07_24.pkl', 'wb') as f:
#     pickle.dump(stock2mkt07_24, f)

生成label

In [18]:
EODPrices = pd.read_feather('AShareEODPrices.feather') # ['s_info_windcode', 'trade_dt', 's_dq_adjclose']

In [20]:
EODPrices_adjclose = EODPrices[['s_info_windcode', 'trade_dt', 's_dq_adjclose']]

In [21]:
# 保存文件
with open('EODPrices_adjclose.pkl', 'wb') as f:
    pickle.dump(EODPrices_adjclose, f)

In [3]:
pd.read_pickle('stock2mkt07_24.pkl')

                     $market_value
datetime instrument
20061229 000001.SZ    2.815605e+06
         000002.SZ    6.747124e+06
         000004.SZ    3.443044e+04
         000005.SZ    2.276691e+05
         000006.SZ    3.400664e+05
...                            ...
20240523 873703.BJ    1.933574e+05
         873706.BJ    9.961285e+04
         873726.BJ    1.554543e+05
         873806.BJ    2.604380e+05
         873833.BJ    7.231208e+04

[19729818 rows x 1 columns]

In [4]:
# 读取文件
with open('stock2mkt07_24.pkl', 'rb') as f:
    stock2mkt07_24 = pickle.load(f)

生成feature